<section>
  <h1>All Posts</h1>

  <% page.posts.each(function(post) { %>
  <article class="row">
    <div class="three columns left lit">
      <time class="bottom" datetime="<%= date_xml(post.date) %>"><%- full_date(post.date, 'll') %></time>
    </div>
    <div class="nine columns left mb-3">
      <a href="<%- url_for(post.path) %>">
        <% if (post.title == "") { %>
          no title
        <% } else { %>
          <%- post.title %>
        <% } %>
      </a>
    </div>
  </article>
  <% }) %>
  <%- partial('partial/pagination', {type: 'page'}) %>
</section>
