<div class="row">
  <div class="column">
    <!-- Main information from i18n -->
    <h2 class="mb-2"><%= __('owner') %></h2>
    <p><%= __('info') %></p>
    <p><%= __('desc') %></p>
  </div>
</div>

<h3><%= __('index.recent_posts') %></h3>

<%
var currentLang = page.lang || (page.path && page.path.indexOf('zh/') === 0 ? 'zh' : 'en');
var filteredPosts = site.posts.filter(function(p) {
  return (p.lang || 'en') === currentLang;
}).sort('date', -1).limit(theme.max_post);
%>
<% filteredPosts.forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<h4> <a href="<%- lang_url('archives') %>"><%= __('index.all_posts') %></a></h4>
