<section class="row">
  <div class="column">
    <h1 class="mb-2"><%= theme.owner %></h1>
    <p><%= theme.info %></p>
    <p><%= theme.desc %></p>
  </div>
</section>

<section>
  <h2>Recent Posts</h2>

  <% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
  <article class="row">
    <div class="three columns left lit">
      <time class="bottom" datetime="<%= date_xml(post.date) %>"><%- full_date(post.date, 'll') %></time>
    </div>
    <div class="nine columns left mb-3">
      <a href="<%- url_for(post.path) %>" >
        <% if (post.title == "") { %>
          no title
        <% } else { %>
          <%- post.title %>
        <% } %>
      </a>
    </div>
  </article>
  <% }) %>

  <nav>
    <h3><a href="<%= config.root %>archives">All Posts</a></h3>
  </nav>
</section>
