<article itemscope itemtype="https://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline"><%- page.title %></h1>
    <div class="post-meta">
      <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%- full_date(page.date, 'll') %></time>
      <% if (page.updated && page.updated.isAfter && page.updated.isAfter(page.date)) { %>
      <span> (Updated: <time datetime="<%= date_xml(page.updated) %>" itemprop="dateModified"><%- full_date(page.updated, 'll') %></time>)</span>
      <% } %>
    </div>
  </header>

  <div itemprop="articleBody">
    <%- page.content%>
  </div>

  <footer>
    <p><%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %></p>
  </footer>
</article>
<%- partial('partial/comments') %>
